body {
  font-family: "Playfair", sans-serif;
  max-width: 1280;
  margin: 0 auto;
  background-color: #6895de;
  color: black;
}

header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #8ba8d6;
  box-shadow:  0 0 0.05rem;
}

.logoMarine {
  width: 12rem;
}

.foto {
  border: 0.1rem solid;
  width: 17rem;
  height: 14rem;
  object-fit: cover;
}

.listaProcurados {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.cartaz {
  background-image: url("../imagens/i.webp");
  background-repeat: no-repeat;
  background-size: 30rem 50rem;
  width: 20rem;
  
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2 ease-in-out;
  gap: 1rem;
  box-shadow:  0 0 0.6rem;
}

.procurado,
.info {  text-transform: uppercase;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.procurado {
  font-size: 3rem;
}

.Nome {
  font-size: 2rem;  
}

.morto-vivo {
  font-size: 1.8rem;
  word-spacing: 2rem;
}

.recompenca {
  font-size: 3rem;
}

.assinatura {
  font-size: 2rem;
}
